{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    {% if user_data.avatar %}
    <img class="rounded-circle article-img" src="{{ post.avatar }}" width="125" height="125">
    {% else %}
    <img class="rounded-circle article-img" src="{{ post.avatar }}" width="125" height="125">
    {% endif %}
    <div class="media-body">
      <div class="article-metadata">
        
        <small class="text-muted">{{ post.created_at }}</small>        
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('bp.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      
      <div id="carousel-{{ post.id }}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% if post.photo1 %}
                {% for photo_url in post.photo1.split(',') %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ photo_url }}" alt="Image" width="400" height="300">
                    </div>
                {% endfor %}
            {% endif %}
            {% if post.video %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ photo_url }}" alt="Image" width="400" height="300">
                </div>
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carousel-{{ post.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-{{ post.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
     </div>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete the Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('bp.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}